.full-width {
  width: 100%;
}

mat-toolbar {
  align-items: center;
  justify-content:flex-start;
  align-content: 25px;
  margin-bottom: 16px;
}

mat-card {
  margin: 3em auto;
  max-width: 60%;
  justify-content: center;
}

.btn1  {
  margin-left: 10px;
}

.btn2 {
  margin-left: 10px;
 }

 .field-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
 }
